<?php
$title = 'Editar hardware';
$this->headTitle($title);
$this->headScript()->appendFile(
    $this->basePath()
    . '/public/js/hardware/hardware.js'
);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url(
        'hardware', array('action' => 'index')
    ); ?>">Regresar</a>
</p>
<div class="panel panel-info" style="text-align: center;">
    <div class="panel-heading">
        <h3 class="panel-title"> <?php
            echo $title;
            ?></h3>
    </div>
    <br>
    <?php $form->prepare();
    $form->setAttribute(
        'action', $this->url(
        'hardware', array('action' => 'edit', 'id' => $this->id)
    )
    );
    ?>
    <?php echo $this->form()->openTag($form); ?>
    <div id="laoding">
        <img style="max-width: 50px;" title="cargando"
             src="<?php echo $this->basePath() . "/public/img/loader.gif" ?>">
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="nombre"
                       class="col-sm-3 control-label">Nombre:</label>

                <div class="col-sm-5">
                    <?php
                    echo $this->formElement($form->get('nombre')) . "\n";
                    echo $this->formElementErrors(
                        $form->get("nombre"),
                        array('class'   => "help-block error bg-warning",
                              'message' => "Ingrese un nombre correcto")
                    );
                    ?>

                </div>
                <div class="col-sm-1 text-left" style="margin-left: -20px;">
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-asterisk"
                              aria-hidden="true"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="Descripcion"
                       class="col-sm-3 control-label">Descripcion:</label>

                <div class="col-sm-5">
                    <?php
                    echo $this->formElement($form->get('descripcion'));
                    echo $this->formElementErrors(
                        $form->get("descripcion"),
                        array('class'   => "help-block error bg-warning",
                              'message' => "Ingrese una descripcion correcto")
                    );
                    ?>
                </div>
                <div class="col-sm-1 text-left" style="margin-left: -20px;">
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-asterisk"
                              aria-hidden="true"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <?php
    echo $this->formHidden($form->get('estado'));
    ?>
    <button type="button" class="btn btn-primary" id="initUpload">
        <span class="glyphicon glyphicon-floppy-saved"
              aria-hidden="true"></span> Guardar
    </button>
    <?php echo $this->form()->closeTag(); ?>
    <br>
</div>