<?php
$title = "Controles a utilizar - " . $this->proyecto->nombre;
$this->headTitle($title);
$this->headScript()->appendFile(
    $this->basePath()
    . '/public/js/proyecto/control.js'
);
?>
<input type="hidden" id="basePath" value="<?php echo $this->basePath() ?>"/>
<input type="hidden" id="id" value="<?php echo $this->proyecto->idproyecto ?>"/>
<div class="row">
    <div class="col-md-10">
        <h1><?php
            echo $title;
            ?></h1>
    </div>
    <div class="col-md-2">
        <a style="margin-top: 20%;" data-toggle='tooltip'
           data-placement='bottom' title="Regresar al administrador de sistemas"
           class="btn btn-primary" href="<?php echo $this->url(
            'proyecto',
            array('action' => 'index')
        ); ?>">Finalizar <i class='glyphicon glyphicon-circle-arrow-right'></i></a>
    </div>
</div>

<p>
    <a href="<?php echo $this->url('proyecto', array('action' => 'index')); ?>">Regresar</a>
</p>
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

    <p><strong>Casi terminamos</strong></p>
    Es importante los controles implementados o por implementar que nos ayudarán
    a minimizar el impacto de los riesgos y vulnerabilidades.
</div>
<div class="panel panel-info" style="text-align: center;">
    <div class="panel-heading">
        <h3 class="panel-title"> <?php
            echo $title;
            ?></h3>
    </div>
    <br>
    <?php $form->prepare();
    $form->setAttribute(
        'action', $this->url(
        'proyecto',
        array('action' => 'control', 'id' => $this->proyecto->idproyecto)
    )
    );
    ?>
    <?php echo $this->form()->openTag($form); ?>
    <div id="laoding">
        <img style="max-width: 50px;" title="cargando"
             src="<?php echo $this->basePath() . "/public/img/loader.gif" ?>">
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="form-group">
                <label for="nombre"
                       class="col-sm-4 control-label">Técnica a usar:</label>

                <div class="col-sm-8">
                    <?php
                    echo $this->formElement($form->get('control_idcontrol'))
                        . "\n";
                    echo $this->formElementErrors(
                        $form->get("control_idcontrol"),
                        array('class'   => "help-block error bg-warning",
                              'message' => "Ingrese un nombre correcto")
                    );
                    ?>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary col-md-12"
                    id="initUpload">
        <span class="glyphicon glyphicon-floppy-saved"
              aria-hidden="true"></span> Guardar
            </button>
        </div>
        <div class="col-md-2">
            <button data-toggle='tooltip' data-placement='bottom'
                    title='Agregar técnica' type="button"
                    class="col-md-4 btn btn-primary" data-toggle="modal"
                    data-target="#myModal" id="openModalControl">
              <span class="glyphicon glyphicon-plus-sign"
                    aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <?php
    echo $this->formHidden($form->get('proyecto_idproyecto'));
    echo $this->form()->closeTag(); ?>
    <br>
</div>
<hr>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-responsive">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Deshabilitar
                </th>
            </tr>
            <?php
            foreach ($this->data as $value) {
                $estado = "En uso";
                $btn = "<p class='btn btn-primary deleteControl' id='"
                    . $this->proyecto->idproyecto
                    . "' aux='"
                    . $value['idcontrol']
                    . "' href='#'><i class='fa fa-times-circle fa-fw'></i> Quitar</p>";
                if ($value['estado'] != '1') {
                    $estado = "Deshabilitado";
                    $btn = "";
                }
                echo "<tr><td>"
                    . $value['nombre']
                    . "</td><td>"
                    . $value['descripcion']
                    . "</td><td>"
                    . $value['fecha']
                    . "</td><td>"
                    . $estado
                    . "</td><td>"
                    . $btn
                    . "</td></tr>";
            }
            ?>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear técnica de
                    protección</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre"
                               placeholder="Nombre ...">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Nombre</label>
                        <textarea class="form-control" id="descripcion"
                                  placeholder="Descripción ..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancelar
                </button>
                <button type="button" class="btn btn-primary"
                        id="saveChangeControl">Guardar
                </button>
            </div>
        </div>
    </div>
</div>


