<?php
$title = "Lista de sistemas gestionados";
$this->headTitle($title);
?>
<h1><?php
    echo $title;
    ?></h1>
<p>
    <a href="<?php echo $this->url('proyecto', array('action' => 'add')); ?>">Añadir
        proyecto</a>
</p>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-responsive">
            <tr>
                <th>
                    N°
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Gestionar
                </th>
                <th>
                    Resultados
                </th>
                <th>
                    Editar
                </th>
            </tr>
            <?php
            foreach ($this->data as $value) {
                echo "<tr><td>"
                    . $value->idproyecto
                    . "</td><td>"
                    . $value->nombre
                    . "</td><td>"
                    . $value->descripcion
                    . "</td><td>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Hardware usado en el sistema' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'hardware', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-desktop fa-fw'></i> </a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Software usado con el sistema' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'software', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-code fa-fw'></i> </a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Usuarios con los que contará el sistema' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'usuario', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-users fa-fw'></i> </a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Requisitos funcionales del sistema' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'requisito', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-tasks fa-fw'></i> </a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Técnicas de protección' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'tecnica', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-lock fa-fw'></i> </a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Riesgos del sistema' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'riesgo', 'id' => $value->idproyecto)
                    )
                    . "'><i class='glyphicon glyphicon-warning-sign'></i> </a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Vulnerabilidades' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'vulnerabilidad', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-crosshairs fa-fw'></i></a>"
                    . "<a data-toggle='tooltip' data-placement='bottom' title='Controles en el sistema' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'control', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-filter fa-fw'></i></a>"
                    . "</td><td>"
                    . "<a class='btn btn-primary' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'result', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-flag-o fa-fw'></i> Resultados</a>"
                    . "</td><td>"
                    . "<a class='btn btn-primary' href='"
                    . $this->url(
                        'proyecto',
                        array('action' => 'edit', 'id' => $value->idproyecto)
                    )
                    . "'><i class='fa fa-pencil fa-fw'></i> Editar</a>"
                    . "</td></tr>";
            }
            ?>
        </table>
    </div>
</div>




