<?php
$title = 'Resultado del proyecto ' . $this->proyecto->nombre;
$this->headTitle($title);
//$this->headScript()->appendFile(
//    $this->basePath()
//    . '/public/js/proyecto/proyecto.js'
//);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url(
        'proyecto', array('action' => 'index')
    ); ?>">Regresar</a>
</p>

<div class="panel panel-info" style="text-align: center;">
    <div class="panel-heading">
        <h3 class="panel-title">Datos generales</h3>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <strong>
                Nombre:
            </strong>
        </div>
        <div class="col-md-6">
            <p>
                <?php
                echo $this->proyecto->nombre;
                ?>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <strong>
                Descripción:
            </strong>
        </div>
        <div class="col-md-6">
            <p>
                <?php
                echo $this->proyecto->descripcion;
                ?>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <strong>
                Descripción:
            </strong>
        </div>
        <div class="col-md-6">
            <p>
                <?php
                echo $this->proyecto->mision;
                ?>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <strong>
                Criticidad de la data:
            </strong>
        </div>
        <div class="col-md-6">
            <p>
                <?php
                echo $this->proyecto->datacritica;
                ?>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <strong>
                Seguridad en el almacenamiento:
            </strong>
        </div>
        <div class="col-md-6">
            <p>
                <?php
                echo $this->proyecto->almacenamiento;
                ?>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-offset-1">
            <strong>
                Políticas de seguridad:
            </strong>
        </div>
        <div class="col-md-6">
            <p>
                <?php
                echo $this->proyecto->seguridad;
                ?>
            </p>
        </div>
    </div>
</div>

<div class="panel panel-info" style="text-align: center;">
    <div class="panel-heading">
        <h3 class="panel-title">Software</h3>
    </div>
    <br>
    <div class="row">
        <div class="table-responsive col-md-10 col-md-offset-1">
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Estado
                    </th>
                </tr>
                <?php
                foreach ($this->software as $value) {
                    $estado = "En uso";
                     if ($value['estado'] != '1') {
                        $estado = "Deshabilitado";
                    }
                    echo "<tr><td>"
                        . $value['nombre']
                        . "</td><td>"
                        . $value['descripcion']
                        . "</td><td>"
                        . $value['fecha']
                        . "</td><td>"
                        . $estado
                        . "</td></tr>";
                }
                ?>
            </table>
        </div>
    </div>

</div>
<div class="panel panel-info" style="text-align: center;">
    <div class="panel-heading">
        <h3 class="panel-title">Hardware</h3>
    </div>
    <br>
    <div class="row">
        <div class="table-responsive col-md-10 col-md-offset-1">
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Estado
                    </th>
                </tr>
                <?php
                foreach ($this->hardware as $value) {
                    $estado = "En uso";
                     if ($value['estado'] != '1') {
                        $estado = "Deshabilitado";
                    }
                    echo "<tr><td>"
                        . $value['nombre']
                        . "</td><td>"
                        . $value['descripcion']
                        . "</td><td>"
                        . $value['fecha']
                        . "</td><td>"
                        . $estado
                        . "</td></tr>";
                }
                ?>
            </table>
        </div>
    </div>
</div>

