<?php
$title ="Vulnerabilidades del sistema - ".$this->proyecto->nombre;
$this->headTitle($title);
$this->headScript()->appendFile(
    $this->basePath()
    . '/public/js/proyecto/vulnerabilidad.js'
);
?>
<input type="hidden" id="basePath" value="<?php echo $this->basePath() ?>" />
<input type="hidden" id="id" value="<?php echo $this->proyecto->idproyecto ?>" />
<div class="row">
    <div class="col-md-10">
        <h1><?php
            echo $title;
            ?></h1>
    </div>
    <div class="col-md-2">
        <a style="margin-top: 20%;" data-toggle='tooltip'
           data-placement='bottom' title="Controles a usar en el sistema"
           class="btn btn-primary" href="<?php echo $this->url(
            'proyecto',
            array('action' => 'control', 'id' => $this->proyecto->idproyecto)
        ); ?>">Siguiente <i class='glyphicon glyphicon-circle-arrow-right'></i></a>
    </div>
</div>

<p>
    <a href="<?php echo $this->url('proyecto', array('action' => 'index')); ?>">Regresar</a>
</p>
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

    <p><strong>Identificar vulnerabilidades</strong></p>
   <ul>
       <li>Utilizar software de testeo</li>
       <li>Revisión del historial</li>
       <li>Revisar en internet</li>
       <li>Revisar base de datos NIST(icat.nist.gob)</li>
       <li>Testeo de seguridad, etc</li>
   </ul>
</div>
<div class="panel panel-info" style="text-align: center;">
    <div class="panel-heading">
        <h3 class="panel-title"> <?php
            echo $title;
            ?></h3>
    </div>
    <br>
    <?php $form->prepare();
    $form->setAttribute(
        'action', $this->url(
        'proyecto',
        array('action' => 'vulnerabilidad', 'id' => $this->proyecto->idproyecto)
    )
    );
    ?>
    <?php echo $this->form()->openTag($form); ?>
    <div id="laoding">
        <img style="max-width: 50px;" title="cargando"
             src="<?php echo $this->basePath() . "/public/img/loader.gif" ?>">
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="nombre"
                       class="col-sm-4 control-label">Vulnerabilidad en el sistema:</label>

                <div class="col-sm-8">
                    <?php
                    echo $this->formElement($form->get('vulnerabilidad_idvulnerabilidad'))
                        . "\n";
                    echo $this->formElementErrors(
                        $form->get("vulnerabilidad_idvulnerabilidad"),
                        array('class' => "help-block error bg-warning",
                              'message' => "Ingrese un nombre correcto")
                    );
                    ?>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="nombre"
                       class="col-sm-4 control-label">Impacto de la vulnerabilidad:</label>

                <div class="col-sm-8">
                    <?php
                    echo $this->formElement($form->get('impacto'))
                        . "\n";
                    echo $this->formElementErrors(
                        $form->get("impacto"),
                        array('class' => "help-block error bg-warning",
                              'message' => "Ingrese un nombre correcto")
                    );
                    ?>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary col-md-12" id="initUpload">
        <span class="glyphicon glyphicon-floppy-saved"
              aria-hidden="true"></span> Guardar
            </button>
        </div>
        <div class="col-md-1">
            <button data-toggle='tooltip' data-placement='bottom' title='Agregar vulnerabilidad' type="button" class="col-md-8 btn btn-primary" data-toggle="modal" data-target="#myModal" id="openModalVulnerabilidad">
              <span class="glyphicon glyphicon-plus-sign"
                    aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <?php
    echo $this->formHidden($form->get('proyecto_idproyecto'));
    echo $this->form()->closeTag(); ?>
    <br>
</div>
<hr>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-responsive">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Impacto
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Deshabilitar
                </th>
            </tr>
            <?php
            foreach ($this->data as $value) {
                $estado = "Activo";
                $btn="<p class='btn btn-primary deleteVulnerabilidad' id='"
                    .$this->proyecto->idproyecto
                    ."' aux='"
                    .$value['idvulnerabilidad']
                    ."' href='#'><i class='fa fa-times-circle fa-fw'></i> Quitar</p>";
                if ($value['estado'] != '1') {
                    $estado = "Deshabilitado";
                    $btn="";
                }
                $impacto="";
                switch($value['impacto']){
                    case '1':
                        $impacto="Bajo";
                        break;
                    case '2':
                        $impacto="Medio";
                        break;
                    case '3':
                        $impacto="Alto";
                        break;
                }
                echo "<tr><td>"
                    . $value['nombre']
                    . "</td><td>"
                    . $value['descripcion']
                    . "</td><td>"
                    . $impacto
                    . "</td><td>"
                    . $value['fecha']
                    . "</td><td>"
                    . $estado
                    . "</td><td>"
                    . $btn
                    . "</td></tr>";
            }
            ?>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear vulnerabilidad que afecte al sistema</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre ...">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" placeholder="Descripción ..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="causa">Causa</label>
                        <textarea class="form-control" id="causa" placeholder="Causa que genera el vulnerabilidad ..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveChangeVulnerabilidad">Guardar</button>
            </div>
        </div>
    </div>
</div>


