body {
    padding-top: 60px;
    padding-bottom: 40px;
}

 fieldset {
border: 0;
}
label {
display: block;
margin: 30px 0 0 0;
}
select {
width: 200px;
}
.overflow {
height: 100px;
}

.blueSec{
  padding-top: 10px;
  text-align: center;
}

.zf-green {
    color: #2E6E9E;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.nav li{
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav li:hover{
  background-color: #eee;
  padding-left: 5px;
  padding-right: 5px;

}

.nav li:hover a{
color: #000 !important;
}

strong{
    text-align: right;
}

.nav *{
  -webkit-transition-property: all;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in;

    /* Standard syntax */
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}