<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Bienvenido a la aplicación de  %sAcción y conocimiento compartido%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('Felicidades! Estás a punto de ingresar a nuestro partido político, estamos seguros de que juntos lograremos el país que tanto anhelamos')); ?></p>
    <p><a class="btn btn-success btn-lg" href="#" target="_blank"><?php echo $this->translate('Regeistrarse como simpatizante') ?> &raquo;</a></p>
</div>
<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php $nombre=$this->ape ;  echo $nombre ?></h3>
            </div>
            <div class="panel-body">
                <ul>
                <?php 
                    foreach ($datos as $value) {
                       echo "<li>".$value['Nombre']."</li>";
                    }
                ?>

                </ul>
               
            </div>
        </div>
    </div>
