<?php
$title = "Lista de software";
$this->headTitle($title);
?>
<h1><?php
    echo $title;
    ?></h1>
<p>
    <a href="<?php echo $this->url('software', array('action' => 'add')); ?>">Añadir software</a>
</p>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-responsive">
            <tr>
                <th>
                    N°
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Editar
                </th>
            </tr>
            <?php
            foreach ($this->data as $value) {
                echo "<tr><td>"
                    . $value->idsoftware
                    . "</td><td>"
                    . $value->nombre
                    . "</td><td>"
                    . $value->descripcion
                    . "</td><td>"
                    . "<a class='btn btn-primary' href='"
                    . $this->url('software', array('action' => 'edit','id'=>$value->idsoftware))
                    . "'><i class='fa fa-pencil fa-fw'></i> Editar</a>"
                    . "</td></tr>";
            }
            ?>
        </table>
    </div>
</div>




