<?php echo $this->doctype(); ?>
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <?php echo $this->headTitle($this->translate('Risk Managment'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/public/bower_components/bootstrap/dist/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/public/bower_components/metisMenu/dist/metisMenu.min.css')
        ->prependStylesheet($this->basePath() . '/public/dist/css/sb-admin-2.css')
        ->prependStylesheet($this->basePath() . '/public/bower_components/font-awesome/css/font-awesome.min.css')
        ->prependStylesheet($this->basePath() . '/public/bower_components/morrisjs/morris.css') ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile ($this->basePath() . '/public/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile ($this->basePath() . '/public/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile ($this->basePath() . '/public/dist/js/sb-admin-2.js')
        ->prependFile ($this->basePath() . '/public/bower_components/morrisjs/morris.min.js')
        ->prependFile ($this->basePath() . '/public/bower_components/raphael/raphael-min.js')
        ->prependFile ($this->basePath() . '/public/bower_components/metisMenu/dist/metisMenu.min.js')
        ->prependFile ($this->basePath() . '/public/bower_components/bootstrap/dist/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/public/bower_components/jquery/dist/jquery.min.js')

    ; ?>


    <meta name="description" content="Risk Managment Software">
    <meta name="author" content="David Paredes - Didepti">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Risk Managment Software') ?></a>

        </div>
        <!-- /.navbar-header -->
        <ul  class="nav navbar-top-links navbar-right">
            <li>
                <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="<?php echo $this->url('home') ?>"><i class="fa fa-dashboard fa-fw"></i> <?php echo $this->translate('Inicio') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('proyecto') ?>"><i class="fa fa-rocket fa-fw"></i> <?php echo $this->translate('Sistemas') ?></a>
                    </li> <li>
                        <a href="<?php echo $this->url('tecnica') ?>"><i class="fa fa-lock fa-fw"></i> <?php echo $this->translate('Técnicas de protección') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('vulnerabilidad') ?>"><i class="fa fa-crosshairs fa-fw"></i> <?php echo $this->translate('Vulnerabilidades') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('control') ?>"><i class="fa fa-filter fa-fw"></i> <?php echo $this->translate('Controles') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('software') ?>"><i class="fa fa-code fa-fw"></i> <?php echo $this->translate('Software') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('hardware') ?>"><i class="fa fa-desktop fa-fw"></i> <?php echo $this->translate('Hardware') ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('requisito') ?>"><i class="fa fa-tasks fa-fw"></i> <?php echo $this->translate('Requisitos') ?></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users fa-fw"></i> <?php echo $this->translate('Usuarios')?><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo $this->url('usuario') ?>"><i class="fa fa-user fa-fw"></i> <?php echo $this->translate('Roles de usuarios') ?></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('politica') ?>"><i class="fa fa-legal fa-fw"></i> <?php echo $this->translate('Politica de usuarios') ?></a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-warning-sign"></i> <?php echo $this->translate('Riesgos')?><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo $this->url('riesgo') ?>"><i class="fa fa-user fa-fw"></i> <?php echo $this->translate('Riesgos registrados') ?></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('tipo') ?>"><i class="fa fa-sitemap fa-fw"></i> <?php echo $this->translate('Tipos de riesgos') ?></a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <?php echo $this->content; ?>
        <hr>
        <footer>
            <p>&copy; <?php echo date('Y') ?> by David Paredes - Humberto Sandoval. <?php echo $this->translate('All rights reserved.') ?></p>
        </footer>
    </div>

    <!-- /#page-wrapper -->
    <?php echo $this->inlineScript() ?>

</div>
<!-- /#wrapper -->



</body>

</html>
