<?php
$title = "Lista de riesgos de riesgos";
$this->headTitle($title);
?>
<h1><?php
    echo $title;
    ?></h1>
<p>
    <a href="<?php echo $this->url('riesgo', array('action' => 'add')); ?>">Añadir
        riesgo</a>
</p>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-responsive">
            <tr>
                <th>
                    N°
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Causa
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Editar
                </th>
            </tr>
            <?php
            foreach ($this->data as $value) {
                echo "<tr><td>"
                    . $value['idriesgo']
                    . "</td><td>"
                    . $value['nombre']
                    . "</td><td>"
                    . $value['descripcion']
                    . "</td><td>"
                    . $value['causa']
                    . "</td><td>"
                    . $value['tipo']
                    . "</td><td>"
                    . "<a class='btn btn-primary' href='"
                    . $this->url(
                        'riesgo',
                        array('action' => 'edit', 'id' => $value['idriesgo'])
                    )
                    . "'><i class='fa fa-pencil fa-fw'></i> Editar</a>"
                    . "</td></tr>";
            }
            ?>
        </table>
    </div>
</div>




